<ion-header>
  <ion-toolbar>
    <ion-title>
      Actualizar tarea
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitModal()" style="color:red;">
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup] = "updateBookingForm" (ngSubmit) = "updateForm()">

    <ion-list-header> Actualize los datos de su tarea </ion-list-header>
    <ion-item>
      <ion-label style="color: aqua;"> Tarea </ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item ion-activated>        
      <ion-label style="color: aqua;">Fecha para la tarea</ion-label>
      <ion-datetime formControlName="date"> </ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Actualizar tarea</ion-button>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>
